.call-to-action {
	position: relative;
	padding: $base-spacing 30px;
	z-index: 12;
	&.light {
		background: #fefefe;
	}
}

.cta-inner {
	display: table;
	width: 100%;

	.cta-content {
		display: table-cell;
		vertical-align: middle;

		h3 {
			margin-top: 0;
		}
	}

	.cta-button {
		display: table-cell;
		vertical-align: middle;
		padding: 10px 0;
		a {
			float: right;
		}
	}
}