.arch-rev-title-1 {
	color: $white;
	font-weight: 700;
	// font-style: italic;

	mark {
		background: transparent;
		color: $accent;
	}
}

.arch-desc-1 {
	color: $white;
}

.rev_slider {
	.button {
		font-size: 18px;
		&:hover {
			color: $dark;
			background: $white;
		}
	}
}