// Typography
$font-family: 'Karla', sans-serif;

$brand:	#3f87c5;

// Colors
$accent: #fc8f39;
$second: #0A3FB4;


$white: #ffffff;
$grey:	#f7f7f7;
$grey-dark: #aaaaaa;
$grey-darker: #707070;
$dark: #111111;


// Border
$border-color: #efefef;
$border: 2px solid $border-color;

// Spacing
$base-spacing: 40px;
$small-spacing: 20px;


// Sizes
$sidebar-menu-size: 260px;


// Media queries breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;